{%if DISQUS %}
<div class="row">
    <div class="alpha span9">
	<ul>
	    <li>Disqus Note: Please do not make personal attacks of any kind.</li>
	</ul>
<div id="disqus_thread"></div>
    <script type="text/javascript">
	var disqus_shortname = '{{DISQUS}}';
	var disqus_identier = '{{article.url}}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	    dsq.setAttribute('data-timestamp', +new Date());
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div></div>
{%endif%}
